# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas de Unity a ignorar
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos y carpetas de Visual Studio
.vs/
*.csproj
*.sln
*.user
*.suo
*.tmp
*.userprefs

# Archivos de compilación y paquetes
*.apk
*.unitypackage

# Archivos ocultos de macOS o Linux
*.swp
*~

# Ignore Crash Reports
sysinfo.txt

# JetBrains Rider
.idea/

# VS Code
.vscode/
